@{
    Layout = "~/Views/Home/Registration.cshtml";
}
<div class="register-right-section">
<style>
.UA_head {
    text-align: center;
    margin-bottom: 14px;
}
.tac_con div span {
    text-decoration: underline;
}
.tac_con div {
    margin-bottom: 10px;
}
</style>
    <p class="info-text">Terms & Conditions</p>
<div class="UA_head">USER AGREEMENT</div>	
<div class="">PLEASE CAREFULLY READ THIS AGREEMENT. BY CLICKING "ACCEPTED AND AGREED TO," CUSTOMER ACKNOWLEDGES THAT IT HAS READ THIS AGREEMENT AND AGREES TO BE BOUND BY ITS TERMS AND CONDITIONS.</div>
<br>	
<div class="">These terms and conditions constitute a Service or User Agreement ("Agreement") by and between Worldwide LLC d/b/a Title Leader, a limited liability company whose principal place of business is 3633 Barrow Wood Lane, Lexington, Kentucky 40502 ("Title Leader") and the individual or other business entity executing this Agreement ("Customer").</div>	
<br>
<div class="tac_con">
<div>1. <span>Definitions.</span> </div>
<div>1.1. "User" means an individual who uses or causes the System to be accessed on Customer's behalf or through Customer's account or passwords, whether authorized or not.</div>
<div>1.2. "System" means Title Leader's Operations Software Program accessible to Customer via a website.</div>
<div>1.3. "Order" means a request to perform a particular search, for example, "Current Owner," "Two-Owner," "Foreclosure" and "Full 30-Year Search" searches.</div>
<div>1.4. "Product" means the result or work-product of a requested search made available to Customer via the System in the form of a Property Report. A Property Report typically includes a summary and documents, if any, that display data filed in the real property records of a county where a property is located for a particular search period requested by Customer.</div>
<div>1.5. "Turnaround" or "Delivery" time both mean the time elapsed between when an Order for a Product is submitted and when the Product is made available to the Customer via the website.  </div>
<div>1.6. The "Term" of this Agreement will commence on the date Customer clicks "Accepted and Agreed To" and terminate upon delivery of Product subject to the terms of this Agreement.  </div>
<div>1.7. "Title Leader Associates" include Title Leader's officers, directors, shareholders, parents, subsidiaries, agents, successors, and assigns.  </div>
<div>2. <span>The System</span>. Customer may access and use the System pursuant to its policies and the terms of any outstanding Order. Customer acknowledges that Title Leader may revise System features, functions, and policies at any time with or without notice.  </div>
<div>3.	<span>Pricing and Payment</span>. </div>
<div>3.1. Pricing and Billing.  Each Product is invoiced separately to Customer. Customer shall be liable for any additional charges (e.g., shipping) associated with each Product and all charges will be shown to User prior to order confirmation/submission. Full payment for each Product is due in advance and prior to delivery of Product. Electronic payment processing is initiated at the time User submits an Order for processing by choosing the "Order Confirmation" option. Title Leader  </div>
<div>3.2. <span>Discount Pricing and Billing</span>.  Customized, volume-discount pricing and billing may be available and such custom pricing and billing is approved at sole discretion of Title Leader.   </div>
<div>4.	<span>Scope and Manner of Services Provided by Title Leader</span>.  Title Leader shall deliver to Customer a Product that includes a Property Report. The Property Report is <span>NOT</span> an opinion of title, guarantee of title, or a title insurance product of any kind whatsoever. </div>
<div>5.	<span>Turnaround Time for Orders</span>. </div>
<div>5.1. Customer acknowledges that a typical Turnaround for each Product ordered is 1-3 business days. Customer further acknowledges that Turnaround may be longer, but Title Leader shall make reasonable efforts not to exceed a Turnaround of greater than 5 business days.   </div>
<div>5.2. Customer understands and acknowledges that Turnaround may be delayed or affected by unexpected circumstances including, but not limited to, common name ownership, rural county, and/or search complexities relating to title issues, etc. </div>
<div>5.3. Customer may be notified via a Customer's alerts or notification section on the website, via electronic mail, or other reasonable methods if circumstances, which require clarification or additional/different information to overcome, affecting Turnaround arise. Customer understands and acknowledges that Customer's accuracy and response time to such notifications directly affects Product Turnaround. </div>
<div>5.4. The start time per Product starts at 8:00 a.m. if the order is placed after hours.  The start time per Product starts Monday at 8:00 a.m. if the Order is placed between 5:00 p.m. Friday and 8:00 a.m. Monday. All times are Central Time.   </div>
<div>6. <span>Customer's Responsibilities & Restrictions</span>.</div>
<div>6.1. <span>Acceptable Use</span>. Customer shall comply with the terms of this Agreement. Customer shall not: (a) share non-public System features or content with any third party; or (b) access the System in order to build a competitive product or service, to build a product using similar ideas, features, functions or graphics of the System, or to copy any ideas, features, functions or graphics of the System.    </div>
<div>6.2. <span>Unauthorized Access</span>. Customer shall take reasonable steps to prevent unauthorized access to the System, including without limitation by protecting its passwords and other log-in information. Customer shall notify Title Leader immediately of any known or suspected unauthorized use of the System or breach of its security. </div>
<div>6.3. <span>Compliance with Laws</span>. In its use of the System, Customer shall comply with all applicable laws, including without limitation laws governing the protection of personally identifiable information and other laws applicable to the protection of data. </div>
<div>6.4. <span>Users & System Access</span>. Customer is responsible and liable for any use of the System through Customer's account, whether authorized or unauthorized. </div>
<div>7.	<span>Property Rights to the System</span>. Title Leader is the owner of the System, website and services offered herein and retains all right, title, and interest in and to the System, including without limitation all software used to provide the System and all graphics, user interfaces, logos, copyrights and trademarks reproduced through the System. This Agreement does not grant Customer any intellectual property license or rights in or to the System or any of its components except to access, copy, print and save the Product as part of the Order. Customer recognizes that the System and its components are protected by copyright, trademark, and other laws and Customer shall take all appropriate steps to prevent any unauthorized use of its account. </div>
<div>8.	<span>Representations & Warranties</span>.  </div>
<div>8.1. <span>Title Leader</span>. Title Leader represents and warrants that it is the owner of the System and of each component thereof, or the recipient of a valid license thereto, and that it has and will maintain the full power and authority to grant the rights to use the System set forth in this Agreement without the further consent of any third party. Title Leader will use commercially available resources to gain access to required information in order to provide Product to Customer. Title Leader's representations and warranties in the preceding sentences do not apply to use of the System in combination with hardware or software not provided by Title Leader. Title Leader does not warrant against improper indexing practices, incomplete or incorrect index data entered by a county recorder or clerk, or similar data related issues. Title Leader is not responsible for inconsistent documents provided in the Product due to errors or variations in the specified name, property address, parcel number, or similar identifying information.  </div>
<div>8.2. <span>Customer</span>. Customer represents and warrants that: (a) it has the full right and authority to enter into, execute, and perform its obligations under this Agreement; and (b) it has accurately identified itself and has not provided any inaccurate information about itself to or through the System. </div>
<div>9.	<span>Warranty Disclaimers</span>. <strong>THE PRODUCT OFFERED BY TITLE LEADER IS OFFERED IN "AS-IS" CONDITION WITHOUT ANY WARRANTIES.</strong> Title Leader provides services related to document searches within the specifications disclosed herein, per search type and within the search-periods per search type also disclosed herein. Title Leader does not guarantee that the Product will be without errors or will constitute a complete set of documents.  </div>
<div>10. <span>Indemnification</span>. Customer shall defend, indemnify, and hold harmless Title Leader and Title Leader Associates against any third party claim, suit, or proceeding arising out of or related to Customer’s alleged or actual use of, misuse of, or failure to use the System or Product provided to Customer from Title Leader.   </div>
<div>11. <span>Limitation of Liability</span>.  Title Leader's total liability and that of Title Leader's Associates for any claim made in relation to a given Product is limited to the amount paid by Customer for the Product. In the event of multiple claims, this limitation of liability shall apply per Product. </div>
<div>12. <span>Request for Refund</span>. Customer shall file any request for a refund, including a detailed explanation of any circumstances which resulted in the request, within twenty (20) days of receipt of the Product. A signed copy of this Agreement must be submitted with the request. The request should be sent by electronic mail or facsimile to Title Leader.  </div>
<div>13. <span>Termination</span>. Title Leader may terminate this Agreement and/or close Customer's account at any time in the event Customer: (i) violates any terms or conditions of the Agreement; (ii) submits incorrect information; (iii) performs unlawful actions; or (iv) fails to provide or provides ineffective payment. After termination, Customer may make written petition to Title Leader to restore its account via email or fax with a signed copy of this Agreement. Regardless of the reason for or timing of Termination, paragraphs 7, 8.1, 9, 10, and 11 shall survive termination. </div>
<div>14. <span>Miscellaneous</span>.</div>
<div>14.1. <span>Modification/Amendment</span>.  Customer agrees that no modifications or amendments can be made to this Agreement without a written instrument signed by both parties. Notwithstanding, Title Leader reserves the rights to change this Agreement after a 30-day notice has been sent to Customer. Changes to any prices and/or fees posted by Title Leader do not constitute changes to this Agreement.  </div>
<div>14.2. <span>Delay</span>.  Title Leader is not liable for any delays in Turnaround due to unforeseen circumstances, such as emergencies, health conditions, county office schedules, access restrictions, similar circumstances, or a force majeure.  Title Leader will notify Customer if any such circumstances are encountered while providing the Product via Customer's alerts or notification section on the website, via electronic mail or other reasonable methods.     </div>
<div>14.3. <span>Assignment</span>. Customer may not assign this Agreement or any of its rights or obligations hereunder without Title Leader's express written consent.  </div>
<div>14.4. <span>Severability</span>. In the event that a provision of this Agreement is held to be invalid or otherwise unenforceable, such provision will be interpreted to fulfill its intended purpose to the maximum extent permitted by applicable law, and the remaining provisions of this Agreement will continue in full force and effect. </div>
<div>14.5. <span>Applicable Law</span>: This Agreement and all claims arising out of or related to this Agreement will be governed by the laws of the State of Kentucky, including applicable federal law. </div>
<div>14.6. <span>Entire Agreement</span>. This Agreement sets forth the entire agreement of the parties and supersedes all prior or contemporaneous writings, negotiations, and discussions with respect to its subject matter. Neither party has relied upon any such prior or contemporaneous communications. </div>

</div>

</div>
