<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="TitleLeaderDBConnection" connectionString="Data Source=50.63.161.49\MSSQLSERVER2012;Initial Catalog=TitleLeaderDatabase;User ID=titleleader;Password=lBbs50!4" providerName="System.Data.SqlClient" />
    <!--<add name="TitleLeaderDBConnection" connectionString="Data Source=50.63.161.49\MSSQLSERVER2012;Initial Catalog=TitleLeaderDatabase;User ID=titleleader;Password=lBbs50!4" providerName="System.Data.SqlClient" />-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" timeout="60" defaultUrl="~/Home/Index" />
    </authentication>
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
    <globalization culture="en-US" uiCulture="en-US" />
    <trust level="Full" />
    <customErrors mode="On" defaultRedirect="~/Home/Index" />
    <sessionState mode="InProc" timeout = "60" cookieless="false"/>
  </system.web>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_IOrderPlacementService1">
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation" requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" canRenewSecurityContextToken="true">
            <secureConversationBootstrap defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
              <localClientSettings detectReplays="false" />
              <localServiceSettings detectReplays="false" />
            </secureConversationBootstrap>
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://www.fnas.com/OrderPlacementService/v2/Service.svc" binding="customBinding" bindingConfiguration="CustomBinding_IOrderPlacementService1" contract="OrderPlacementWebService.IOrderPlacementService" name="CustomBinding_IOrderPlacementService1" />
    </client>
  </system.serviceModel>
    <system.webServer>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="400" path="C:\Inetpub\vhosts\titleleader.com\error_docs\bad_request.html" />
            <error statusCode="407" path="C:\Inetpub\vhosts\titleleader.com\error_docs\proxy_authentication_required.html" />
            <error statusCode="414" path="C:\Inetpub\vhosts\titleleader.com\error_docs\request-uri_too_long.html" />
            <error statusCode="415" path="C:\Inetpub\vhosts\titleleader.com\error_docs\unsupported_media_type.html" />
            <error statusCode="503" path="C:\Inetpub\vhosts\titleleader.com\error_docs\maintenance.html" />
            <error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\titleleader.com\error_docs\unauthorized.html" />
            <error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\titleleader.com\error_docs\forbidden.html" />
            <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\titleleader.com\error_docs\not_found.html" />
            <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\titleleader.com\error_docs\method_not_allowed.html" />
            <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\titleleader.com\error_docs\not_acceptable.html" />
            <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\titleleader.com\error_docs\precondition_failed.html" />
            <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\titleleader.com\error_docs\internal_server_error.html" />
            <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\titleleader.com\error_docs\not_implemented.html" />
            <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\titleleader.com\error_docs\bad_gateway.html" />
        </httpErrors>
    </system.webServer>
</configuration>
<!--ProjectGuid: 16B5D98E-18A7-4A3E-BE7D-B8FA3910B1C7-->